@import "./common";

// layout.scss 레이아웃
// header
$ani_time:0.3s;

header{
  position:fixed; top:0; left:0;
  width:100%; height:70px;
  z-index:100;
  transition:$ani_time;
  > h1{padding:24px 0 0 2%;}
  
  > .nav_icon{
    width:40px;
    position:absolute; top:24px;
    > span.fas{
      font-size:$t_size_m;
      color:$txt_color2;
      cursor:pointer;
    }
    > span:last-child{display:none;}
  }

  > .icon1{right:3.5%;}
  > .icon2{right:1%;}
}

// 메인메뉴 서식
header nav{
  width:600px;
  margin:-24px auto;
}

header nav .gnb{
  display:flex;
  justify-content: space-around;
}

header nav .gnb a{
  color:$txt_color2;
  font-size:$t_size_m;
}

header nav .gnb a:hover{
  text-decoration:underline;

}

// footer
footer{
  background:$bg_color_g;
  height:177px;
}